body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 16px;
    margin: 0;
    background-image: url(imagens/background-branco.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.destaque{
    background-color: rgb(76, 76, 255);
    color: rgb(255, 255, 255);
    text-indent: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.topicos{
    color: rgb(76, 76, 255);
    text-align: left;
    text-indent: 30px;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 30px;
}

.links{
    text-decoration: none;
    color: rgb(76, 76, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
    padding-bottom: 20px;
    background-color: white;
}

.datas{
    color: rgb(76, 76, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

#titulo {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

#foto-perfil{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 20px;
}

mark{
    background-color: rgb(169, 169, 255);
}

a:hover{
    color: rgb(73, 200, 0);
    font-size: 18px;
}

ul{
    display: inline-block;
    vertical-align: top;
}