body{
    background-color: #E3E3E0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 16px;
    margin: 0;
}

.cabecalho{
    background-image: url(imagens/background.gif);
    background-repeat: repeat-x;
    background-position: center;
}

.cabecalho nav{
    padding: 5px;
    text-align: center;
}

.cabecalho nav li{
    list-style: none;
    display: inline;
    border: 1px solid #E3E3E0;
    padding: 3px;
    margin: 0 5px; 
}

.cabecalho nav a{ 
    padding: 2px;      
    color: #E3E3E0;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 2px;
}

#titulo {
    margin: 0px;
    padding: 6px;
    color: #E3E3E0;
    text-align: center;
}

#titulo h1{
    font-size: 56px;
    text-shadow: 3px 3px 0 black;
    text-transform: uppercase;
    margin-bottom: 0;
}

#titulo h3{
    font-size: 15px;
    text-shadow: 2px 2px 0 black;
}

.destaque{
    background-color: #4C4CFF;
    color: #E3E3E0;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.links{
    text-decoration: none;
    color: #4C4CFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
    padding-bottom: 20px;
    width: fit-content;
}

.datas{
    color: #4C4CFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

mark{
    background-color: #A9A9FF;
}

a:hover{
    color: #49C800;
    font-size: 18px;
}

#rodape{
    color: #E3E3E0;
    background-color: #49C800;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    letter-spacing: 2px;
}